<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{notempty name='viewname'}{$viewname}{/notempty}列表</title>

    <!--robots用来告诉搜索机器人哪些页面需要索引，哪些页面不需要索引。content的参数有all,none,index,noindex,follow,nofollow。默认是all。-->
    <meta name="robots" content="noindex, nofollow">
    <!--viewport用来兼容手机网页-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- END 网页内容 -->
    <style>
        .tbody-img{width: 80px}
    </style>
    {include file="baes@public/header" /}
    <!-- 网页内容 -->
    <div id="page-content">
        <!-- 标题 -->
        <div class="content-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-section">
                        <h1>{notempty name='viewname'}{$viewname}{/notempty}列表</h1>
                    </div>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="header-section">
                        <ul class="breadcrumb breadcrumb-top">
                            <li>{notempty name='viewname'}{$viewname}{/notempty}列表</li>
                            <li><a href="{:url('/')}">首页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 标题 -->

        <!-- 内容 -->
        <div class="block full">

            <!-- 搜索 -->
            <div class="row">
                <div class="col-xs-12  col-md-5 push-bit-top">
                    <div class="dataTables_filter">
                        <a href="{:url('info')}" type="button" class="btn btn-success">添加{notempty name='viewname'}{$viewname}{/notempty}</a>
                    </div>
                </div>
                <div class="col-xs-12  col-md-7 push-bit-top">
                    <form action="{:url('lists')}" method="get" class="push" >
                        <div class="input-group input-group-lg">
                            <input type="search" id="search-term" name="search" class="form-control" placeholder="Search.." value="{notempty name='Think.get.search'}{$Think.get.search}{/notempty}">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 搜索 -->

            <div class="table-responsive">
                <div id="example-datatable_wrapper" class="dataTables_wrapper form-inline no-footer">
                    <table id="general-table" class="table table-striped table-borderless table-vcenter table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th style="width: 50px;" class="text-center">
                                <label class="csscheckbox csscheckbox-primary">
                                    <input type="checkbox"><span></span>
                                </label>
                            </th>
                            <th>用户名</th>
                            <th class="hidden-sm hidden-xs">开启模块</th>
                            <th class="hidden-sm hidden-xs">最后登录时间</th>
                            <th class="hidden-sm">状态</th>
                            <th style="width: 80px;" class="text-center"><i class="fa fa-flash"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {notempty name='list'}
                        {volist name='list' id='v'}
                        <tr>
                            <td class="text-center">
                                <label class="csscheckbox csscheckbox-primary">
                                    <input type="checkbox" name="id[]" value="{$v['id']}"><span></span>
                                </label>
                            </td>
                            <td><strong>{$v['admin_name']}</strong></td>
                            <td class="hidden-sm hidden-xs"><strong>
                                {neq name='v.limit' value='1'}
                                {notempty name='moduleList'}
                                {volist name='moduleList' id='lv'}
                                <strong class="text-info">{$lv.name} : </strong>
                                {notempty name='lv.has_son'}
                                {volist name='lv.has_son' id='lv1'}

                                {volist name="v.level" id = 'ui'}
                                {eq name='ui' value='$lv1.id'}
                                {$lv1.name}
                                {/eq}
                                {/volist}

                                {/volist}
                                {/notempty}
                                <br />
                                {/volist}
                                {/notempty}
                                {else/}
                                <strong class="text-info">超级管理员</strong>
                                {/neq}
                            </strong></td>
                            <td class="hidden-sm hidden-xs">{:date('Y-m-d H:i:s',$v['last_login_time'])}</td>
                            <td class="hidden-sm">
                                {eq name='v.status' value='1'}
                                <strong class="text-success">开启中</strong>
                                {else/}
                                <strong class="text-danger">已关闭</strong>
                                {/eq}
                            </td>
                            <td class="text-center">
                                <a href="{:url('info',['id' => $v['id']])}" data-toggle="tooltip" title="修改" class="btn btn-effect-ripple btn-xs btn-info" style="overflow: hidden; position: relative;" ><i class="fa fa-pencil"></i></a>
                                <a href="#" name="{$v['id']}" data-toggle="tooltip" title="开启" class="btn btn-effect-ripple btn-xs btn-success restore" style="overflow: hidden; position: relative;" ><i class="fa fa-pencil"></i></a>
                                <a href="#modal-fade"  name="{$v['id']}"  data-toggle="modal" title="关闭" class="btn btn-effect-ripple btn-xs btn-danger deletes " style="overflow: hidden; position: relative;" ><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {/volist}
                        {/notempty}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-5 col-xs-12 clearfix">
                            <div class="dataTables_info" role="status" aria-live="polite">
                                <a href="#modal-fade" type="button" id="restore" form-url="{:url('shut')}" name="idr" class="btn btn-effect-ripple btn-success" data-toggle="modal">
                                    批量开启
                                </a>
                                <a href="#modal-fade" type="button" id="deletes" name="idr" class="btn btn-effect-ripple btn-danger" data-toggle="modal">
                                    批量关闭
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-12 clearfix">
                            <div class="dataTables_paginate paging_bootstrap">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 内容 -->
        <div id="modal-fade" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="hidden" id="delete-path" value="{:url('shut')}" />
                        <button type="button" class="close cancels" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><strong>关闭</strong></h3>
                    </div>
                    <div class="modal-body" >
                    </div>
                    <div class="modal-footer">
                        <button id="certain" name="sub" type="button" class="btn btn-effect-ripple btn-primary">确定</button>
                        <button type="button" class="btn btn-effect-ripple btn-danger cancels" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END 网页内容 -->
    {include file="baes@public/footer" /}
    <!-- 加载并执行仅在本页中使用的JavaScript代码 -->
    <script src="__JS__/common.js"></script>
    <script src="__JS__/pages/Tables.js"></script>
    <script>
        $(function () {Tables.init();});
    </script>
    </body>
</html>