<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{notempty name='viewname'}{$viewname}{/notempty}列表</title>

    <!--robots用来告诉搜索机器人哪些页面需要索引，哪些页面不需要索引。content的参数有all,none,index,noindex,follow,nofollow。默认是all。-->
    <meta name="robots" content="noindex, nofollow">
    <!--viewport用来兼容手机网页-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- END 网页内容 -->
    <style>
        .tbody-img{width: 80px}
    </style>
    {include file="admin@public/header" /}
    <!-- 网页内容 -->
    <div id="page-content">
        <!-- 标题 -->
        <div class="content-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-section">
                        <h1>{notempty name='viewname'}{$viewname}{/notempty}列表</h1>
                    </div>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="header-section">
                        <ul class="breadcrumb breadcrumb-top">
                            <li>{notempty name='viewname'}{$viewname}{/notempty}列表</li>
                            <li><a href="{:url('/')}">首页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 标题 -->

        <!-- 内容 -->
        <div class="block full">
            <div class="block-title">
                <ul class="nav nav-tabs" >
                    <li {eq name='base' value='Discuzx'}class="active"{/eq}><a href="{:url('adPcList',['base' => 'Discuzx'])}">论坛</a></li>
                    <li {eq name='base' value='ClassAd'}class="active"{/eq}><a href="{:url('adPcList',['base' => 'ClassAd'])}">分类广告</a></li>
                </ul>
            </div>
            <!-- 搜索 -->
            <div class="row">
                <div class="col-xs-12  col-md-5 push-bit-top">
                    <div class="dataTables_filter pull-left">
                        {foreach $sourceList as $k => $v}
                        <a href="{:url('adPcList',['base' => $base,'source' => $k])}" class="btn btn-effect-ripple btn-default {eq name='source' value='$k'}active{/eq}">{$v}</a>
                        {/foreach}
                    </div>
                    <div class="pull-right">
                        <a href="{:url('insertPc',['source' => $source ,'base' => $base])}" type="button" class="btn btn-success">添加{notempty name='viewname'}{$viewname}{/notempty}</a>
                    </div>
                </div>
                <form action="{:url('adPcList')}" method="get" class="push" >
                    <!--论坛搜索条件-->
                    {if condition="($base == 'Discuzx') and ($source == 3)"}
                    <div class="col-xs-12  col-md-3 push-bit-top">
                        <select name="fids" class="form-control" >
                            <option value="">分类搜索</option>
                            {volist name='forum_list' id='fv'}
                            <option value="{$fv.fid}" {notempty name='Think.get.fids'}{eq name='Think.get.fids' value='$fv.fid'}selected = "selected"{/eq}{/notempty}>({$fv.fid}){$fv.name}</option>
                            {/volist}
                        </select>
                    </div>
                    {/if}
                    {if condition="($base == 'ClassAd') and ($source == 4)"}
                    <div class="col-xs-12  col-md-3 push-bit-top">
                        <select name="type" class="form-control" >
                            <option value="">全部</option>
                            <option value="1" {notempty name='Think.get.type'}{eq name='Think.get.type' value='1'}selected = "selected"{/eq}{/notempty}>进行中</option>
                            <option value="2" {notempty name='Think.get.type'}{eq name='Think.get.type' value='2'}selected = "selected"{/eq}{/notempty}>已完成</option>
                        </select>
                    </div>
                    {/if}
                    <!--论坛搜索条件 END-->

                    <!--分类广告搜索条件-->
                    {if condition="($base == 'ClassAd') and ($source == 2)"}
                    <div class="col-xs-12  col-md-3 push-bit-top">
                        <select name="fids" class="form-control" >
                            <option value="0">分类搜索</option>
                            {notempty name='category'}
                            {volist name='category' id='cv'}
                            <option value="{$cv.catid}" {notempty name='Think.get.fids'}{eq name='Think.get.fids' value='$cv.catid'}selected = "selected"{/eq}{/notempty}>{$cv.catname}</option>
                            {/volist}
                            {/notempty}
                        </select>
                    </div>
                    {/if}
                    <!--分类广告搜索条件 END-->
                    <div class="col-xs-12  col-md-4 push-bit-top pull-right">
                        <div class="input-group input-group-lg">
                            <input type="hidden" name="base" value="{$base}">
                            <input type="hidden" name="source" value="{$source}">
                            <input type="search" id="search-term" name="search" class="form-control" placeholder="Search.." value="{notempty name='Think.get.search'}{$Think.get.search}{/notempty}">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 搜索 -->

            <div class="table-responsive">
                <div id="example-datatable_wrapper" class="dataTables_wrapper form-inline no-footer">

                    <table id="general-table" class="table table-striped table-borderless table-vcenter table-bordered dataTable no-footer text-center">
                        <thead>
                        <tr>
                            <th class="text-center  col-md-1">id</th>
                            <th class="text-center hidden-xs hidden-xs col-md-3">标题</th>
                            <th class="text-center hidden-sm hidden-xs col-md-3">位置</th>
                            <th class="text-center hidden-sm col-md-1">排序</th>
                            <th class="text-center hidden-sm col-md-2">到期时间</th>
                            <th class="text-center hidden-sm col-md-1">状态</th>
                            <th class="text-center col-md-1"><i class="fa fa-flash"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {notempty name='list'}
                        {volist name='list' id='v'}
                        <!--论坛数据-->
                        {eq name='base' value='Discuzx'}
                        <tr>
                            <td class="hidden-sm hidden-xs"><strong>{$v.id}</strong></td>
                            <td class="hidden-sm hidden-xs"><strong>{$v.name}</strong></td>
                            <td class="hidden-sm hidden-xs">{$v.ctype.text}</td>
                            <td class="hidden-sm hidden-xs">{$v.serialno}</td>
                            <td class="hidden-sm">{$v.endtime}</td>
                            <td class="hidden-sm">{$v.status}</td>
                            <td>
                                <a href="{:url('insertPc',['base' => $base,'source' => $source,'id' => $v.id])}" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-info" style="overflow: hidden; position: relative;" data-original-title="编辑 {$v.name}"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                        {/eq}
                        <!--论坛数据 End-->

                        <!--分类广告-->
                        {eq name='base' value='ClassAd'}
                        <tr>
                            <td class="hidden-sm hidden-xs"><strong>{$v.id}</strong></td>
                            <td class="hidden-sm hidden-xs"><strong>{$v.name}</strong></td>
                            <td class="hidden-sm hidden-xs">{$v.desc}</td>
                            <td class="hidden-sm hidden-xs">{$v.displayorder}</td>
                            <td class="hidden-sm">{$v.endtime}</td>
                            <td class="hidden-sm">{$v.status.new}</td>
                            <td>
                                <a href="{:url('insertPc',['base' => $base,'source' => $source,'id' => $v.id])}" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-info" style="overflow: hidden; position: relative;" data-original-title="编辑 {$v.name}"><i class="fa fa-pencil"></i></a>
                                <a href="#modal-fade"  name="{$v['id']}"  data-toggle="modal" title="删除 {$v.name}" class="btn btn-effect-ripple btn-xs btn-danger deletes " style="overflow: hidden; position: relative;" ><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {/eq}
                        <!--分类广告 End-->
                        {/volist}
                        {/notempty}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-5 col-xs-12 clearfix">
                            <div class="dataTables_info" role="status" aria-live="polite">
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-12 clearfix">
                            <div class="dataTables_paginate paging_bootstrap">
                                {notempty name='list'}
                                {$list->render()}
                                {/notempty}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 内容 -->
        <div id="modal-fade" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="hidden" id="delete-path" value="{:url('del')}" />
                        <button type="button" class="close cancels" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><strong>删除</strong></h3>
                    </div>
                    <div class="modal-body" >
                    </div>
                    <div class="modal-footer">
                        <button id="certain" name="sub" type="button" class="btn btn-effect-ripple btn-primary">确定</button>
                        <button type="button" class="btn btn-effect-ripple btn-danger cancels" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END 网页内容 -->
    {include file="admin@public/footer" /}
    <!-- 加载并执行仅在本页中使用的JavaScript代码 -->
    <script src="__JS__/common.js"></script>
    <script src="__JS__/pages/Tables.js"></script>
    <script>
        $(function () {Tables.init();});
    </script>
    </body>
</html>