<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{notempty name='viewname'}{$viewname}{/notempty}详情</title>
    <!--robots用来告诉搜索机器人哪些页面需要索引，哪些页面不需要索引。content的参数有all,none,index,noindex,follow,nofollow。默认是all。-->
    <meta name="robots" content="noindex, nofollow">
    <!--viewport用来兼容手机网页-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- END 网页内容 -->
    <style>
        #tag-cloud a{cursor:pointer}
    </style>
    {include file="baes@public/header" /}
    <!-- 网页内容 -->
    <div id="page-content">
        <!-- 标题 -->
        <div class="content-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-section">
                        <h1>{notempty name='viewname'}{$viewname}{/notempty}详情</h1>
                    </div>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="header-section">
                        <ul class="breadcrumb breadcrumb-top">
                            <li>{notempty name='viewname'}{$viewname}{/notempty}详情</li>
                            <li><a href="{:url('bannerList')}">{notempty name='viewname'}{$viewname}{/notempty}列表</a></li>
                            <li><a href="{:url('/')}">后台首页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 标题 -->

        <!-- 模块 -->
        <div class="row col-sm-10 col-sm-offset-1 col-md-10 col-lg-10 col-lg-offset-1">
            <!-- 表单验证块 -->
            <div class="block">
                <!-- 表单验证标题 -->
                <div class="block-title">
                    <h2>基本信息</h2>
                </div>
                <!-- END 表单验证标题 -->

                <!-- 表单验证表单 -->
                <form id="form-validation" action="{:url('bannerSubmit')}" method="post" class="form-horizontal form-bordered " enctype="multipart/form-data" novalidate="novalidate">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">轮播图标题 <span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            <input type="text" id="title" name="title" class="form-control" placeholder="" value="{notempty name='info'}{$info.title}{/notempty}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="url">跳转路径</label>
                        <div class="col-md-6">
                            <input type="text" id="url" name="url" class="form-control" placeholder="" value="{notempty name='info'}{$info.url}{/notempty}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="discription">描述</label>
                        <div class="col-md-6">
                            <textarea type="text" id="discription" name="discription" class="form-control" placeholder="" >{notempty name='info'}{$info.discription}{/notempty}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="sort">排序</label>
                        <div class="col-md-6">
                            <input type="text" id="sort" name="sort" class="form-control" placeholder="" value="{notempty name='info'}{$info.sort}{/notempty}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="img_path">图片</label>
                        <div class="col-md-6">
                            <input type="hidden" name="img_path" value="{notempty name='info'}{$info.img_path}{/notempty}">
                            <a href="javascript:;" class="a-upload">
                                <input type="file" name="file" class="image-input" id="img_path"> 上传附件
                            </a>
                            <div class="preview-img">.
                                {notempty name='info.img_path'}
                                <a href="/{$Think.config.upload_path}{$info.img_path}" target="_blank"><img src="/{$Think.config.upload_path}{$info.img_path}"></a>
                                {/notempty}
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-6 col-md-offset-3">
                            <input name="id" type="hidden" value="{notempty name='info'}{$info.id}{/notempty}" />
                            <button type="submit" class="btn btn-block btn-success">{notempty name='info'}修改{else /}添加{/notempty}</button>
                        </div>
                    </div>
                    <a id="a-click" href="#modal-regular" class="btn btn-effect-ripple btn-default" data-toggle="modal" style="display: none"></a>
                    <!-- Regular Modal -->
                    <div id="modal-regular" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title"><strong>结果</strong></h3>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Regular Modal -->
                </form>
                <!-- END Form Validation Form -->
            </div>
            <!-- END Form Validation Block -->
        </div>

        <!-- END 模块 -->
    </div>
    <!-- END 网页内容 -->
    {include file="baes@public/footer" /}
    <!-- 加载并执行仅在本页中使用的JavaScript代码 -->
    <script src="__JS__/ajaxfileupload.js"></script>
    <script src="__JS__/common.js"></script>
    <script src="__JS__/pages/Myweb/Ad.js"></script>
    <script>
        $(function(){
            Ad.init();
            $(".a-upload").on("change","input[type='file']",function(){
                var file_id = $(this).attr("id"),url="{:url('baes/Baes/uploadFile')}";
                ajaxUploadFile(file_id,url,'banner');
            });
        });
    </script>
    </body>
</html>