<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{notempty name='viewname'}{$viewname}{/notempty}详情</title>
    <!--robots用来告诉搜索机器人哪些页面需要索引，哪些页面不需要索引。content的参数有all,none,index,noindex,follow,nofollow。默认是all。-->
    <meta name="robots" content="noindex, nofollow">
    <!--viewport用来兼容手机网页-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- END 网页内容 -->
    <style>
        #tag-cloud a{cursor:pointer}
    </style>
    {include file="baes@public/header" /}
    <!-- 网页内容 -->
    <div id="page-content">
        <!-- 标题 -->
        <div class="content-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-section">
                        <h1>{notempty name='viewname'}{$viewname}{/notempty}详情</h1>
                    </div>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="header-section">
                        <ul class="breadcrumb breadcrumb-top">
                            <li>{notempty name='viewname'}{$viewname}{/notempty}详情</li>
                            <li><a href="{:url('blogsCategory')}">{notempty name='viewname'}{$viewname}{/notempty}列表</a></li>
                            <li><a href="{:url('/')}">后台首页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 标题 -->

        <!-- 模块 -->
        <div class="row col-sm-10 col-sm-offset-1 col-md-10 col-lg-10 col-lg-offset-1">
            <!-- 表单验证块 -->
            <div class="block">
                <!-- 表单验证标题 -->
                <div class="block-title">
                    <h2>基本信息</h2>
                </div>
                <!-- END 表单验证标题 -->

                <!-- 表单验证表单 -->
                <form id="form-validation" action="{:url('categorySubmit')}" method="post" class="form-horizontal form-bordered " enctype="multipart/form-data" novalidate="novalidate">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="category_title">分类标题 <span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            <input type="text" id="category_title" name="category_title" class="form-control" placeholder="" value="{notempty name='info'}{$info.category_title}{/notempty}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="pid">选择分类级别</label>
                        <div class="col-md-6">
                            <select id="pid" name="pid" class="form-control">
                                <option value="0">顶级分类</option>
                                {notempty name='list'}
                                {volist name='list' id='v'}

                                {notempty name='info'}
                                {neq name='info.id' value='$v.id'}
                                <option value="{$v['id']}" {eq name='info.pid' value='$v.id'} selected = "selected" {/eq}>{:str_repeat('&nbsp;',5)} |- {$v.category_title}</option>
                                {/neq}
                                {else/}
                                <option value="{$v['id']}">{:str_repeat('&nbsp;',5)} |- {$v.category_title}</option>
                                {/notempty}

                                {notempty name='v.has_son'}
                                {volist name='v.has_son' id='v1'}

                                {notempty name='info'}
                                {neq name='info.id' value='$v1.id'}
                                <option value="{$v1['id']}" {eq name='info.pid' value='$v1.id'} selected = "selected" {/eq} >{:str_repeat('&nbsp;',10)} |- {$v1.category_title}</option>
                                {/neq}
                                {else/}
                                <option value="{$v1['id']}">{:str_repeat('&nbsp;',10)} |- {$v1.category_title}</option>
                                {/notempty}

                                {/volist}
                                {/notempty}

                                {/volist}
                                {/notempty}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="category_banner">分类展示图</label>
                        <div class="col-md-6">
                            <input type="hidden" name="category_banner" value="{notempty name='info'}{$info.category_banner}{/notempty}">
                            <a href="javascript:;" class="a-upload">
                                <input type="file" name="file" class="image-input" id="category_banner"> 上传附件
                            </a>
                            <div class="preview-img">.
                                {notempty name='info.category_banner'}
                                <a href="/{$Think.config.upload_path}{$info.category_banner}" target="_blank"><img src="/{$Think.config.upload_path}{$info.category_banner}"></a>
                                {/notempty}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="category_discription">分类描述</label>
                        <div class="col-md-6">
                            <textarea type="text" id="category_discription" name="category_discription" class="form-control" placeholder="" >{notempty name='info'}{$info.category_discription}{/notempty}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="category_sort">排序</label>
                        <div class="col-md-6">
                            <input type="text" id="category_sort" name="category_sort" class="form-control" placeholder="" value="{notempty name='info'}{$info.category_sort}{/notempty}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="seo_keywords">SEO关键词</label>
                        <div class="col-md-6">
                            <input type="text" id="seo_keywords" name="seo_keywords" class="form-control" placeholder="" value="{notempty name='info'}{$info.seo_keywords}{/notempty}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="seo_discription">SEO描述</label>
                        <div class="col-md-6">
                            <textarea type="text" id="seo_discription" name="seo_discription" class="form-control" placeholder="" >{notempty name='info'}{$info.seo_discription}{/notempty}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="blogs_page_num">分页数量</label>
                        <div class="col-md-6">
                            <input type="text" id="blogs_page_num" name="blogs_page_num" class="form-control" placeholder="" value="{notempty name='info'}{$info.blogs_page_num}{/notempty}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">状态</label>
                        <div class="col-md-9">
                            <label class="switch switch-success" for="status">
                                <input type="checkbox" id="status" name="status" {notempty name='info.status'}checked{/notempty}   value="1" />
                                <span data-toggle="tooltip" title="确认请点击"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-6 col-md-offset-3">
                            <input name="id" type="hidden" value="{notempty name='info'}{$info.id}{/notempty}" />
                            <button type="submit" class="btn btn-block btn-success">{notempty name='info'}修改{else /}添加{/notempty}</button>
                        </div>
                    </div>
                    <a id="a-click" href="#modal-regular" class="btn btn-effect-ripple btn-default" data-toggle="modal" style="display: none"></a>
                    <!-- Regular Modal -->
                    <div id="modal-regular" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title"><strong>结果</strong></h3>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Regular Modal -->
                </form>
                <!-- END Form Validation Form -->
            </div>
            <!-- END Form Validation Block -->
        </div>

        <!-- END 模块 -->
    </div>
    <!-- END 网页内容 -->
    {include file="baes@public/footer" /}
    <!-- 加载并执行仅在本页中使用的JavaScript代码 -->
    <script src="__JS__/ajaxfileupload.js"></script>
    <script src="__JS__/common.js"></script>
    <script src="__JS__/pages/Myweb/Blogs.js"></script>
    <script>
        $(function(){
            Blogs.init();
            $(".a-upload").on("change","input[type='file']",function(){
                var file_id = $(this).attr("id"),url="{:url('baes/Baes/uploadFile')}";
                ajaxUploadFile(file_id,url,'blogs');
            });
        });
    </script>
    </body>
</html>